In [24]:
import pandas as pd
import datetime as dt
import numpy as np

In [25]:
data = pd.ExcelFile("data.xlsx")

In [26]:
swipes = pd.read_excel(data, 'fob_swipes')
swipes = swipes[['id', 'date_time', "time"]]
swipes['etype'] = 'S'
swipes['time'] = pd.to_datetime(swipes.date_time)

sent_emails = pd.read_excel(data, 'sent_items')
sent_emails = sent_emails[['id', 'date_time']]
sent_emails['etype'] = 'E'
sent_emails['time'] = pd.to_datetime(sent_emails.date_time)

In [27]:
swipes.head()

     id           date_time                time etype
0  1000 2015-09-21 16:05:00 2015-09-21 16:05:00     S
1  1001 2015-09-21 16:50:00 2015-09-21 16:50:00     S
2  1002 2015-09-22 10:39:00 2015-09-22 10:39:00     S
3  1003 2015-09-22 12:51:00 2015-09-22 12:51:00     S
4  1004 2015-09-22 15:26:00 2015-09-22 15:26:00     S

In [28]:
frames = [swipes, sent_emails]
events = pd.concat(frames, ignore_index=True)

In [29]:
events.head()

            date_time etype    id                time
0 2015-09-21 16:05:00     S  1000 2015-09-21 16:05:00
1 2015-09-21 16:50:00     S  1001 2015-09-21 16:50:00
2 2015-09-22 10:39:00     S  1002 2015-09-22 10:39:00
3 2015-09-22 12:51:00     S  1003 2015-09-22 12:51:00
4 2015-09-22 15:26:00     S  1004 2015-09-22 15:26:00

In [30]:
events['date'] = [val.date() for val in pd.to_datetime(events['date_time'])]
events['hour'] = [val.time() for val in pd.to_datetime(events['date_time'])]

events.head()

            date_time etype    id                time        date      hour
0 2015-09-21 16:05:00     S  1000 2015-09-21 16:05:00  2015-09-21  16:05:00
1 2015-09-21 16:50:00     S  1001 2015-09-21 16:50:00  2015-09-21  16:50:00
2 2015-09-22 10:39:00     S  1002 2015-09-22 10:39:00  2015-09-22  10:39:00
3 2015-09-22 12:51:00     S  1003 2015-09-22 12:51:00  2015-09-22  12:51:00
4 2015-09-22 15:26:00     S  1004 2015-09-22 15:26:00  2015-09-22  15:26:00

In [31]:
midnight = dt.datetime.strptime("00:00:00", '%H:%M:%S').time()
sevenAM = dt.datetime.strptime("07:00:00", '%H:%M:%S').time()

def convert_night_dates(row):
    if(row['hour'] <= sevenAM):
        row['date'] = (row['date'] - dt.timedelta(1))

    return row

corrected_events = events.apply(convert_night_dates, axis=1)

In [ ]:
corrected_grouped_events = events.groupby("date")

def minimum(group):
    midnight = dt.datetime.strptime("00:00:00", '%H:%M:%S').time()
    sevenAM = dt.datetime.strptime("07:00:00", '%H:%M:%S').time()
    
    greaterThanSevenAM = group[group.hour >= sevenAM]
    return greaterThanSevenAM.min()

def maximum(group):
    midnight = dt.datetime.strptime("00:00:00", '%H:%M:%S').time()
    sevenAM = dt.datetime.strptime("07:00:00", '%H:%M:%S').time()
    
    lessThanSevenAM = group[group.hour < sevenAM]
    if(lessThanSevenAM.size > 0):
        return lessThanSevenAM.max()
    
    return group.max()

def aggregate_data(group):
    _max = maximum(group)
    _min = minimum(group)
    first_event_time = _min.date_time
    first_event_id = _max.id
    last_event_time = _max.date_time
    last_event_id = _min.id


    labels = ["first event id", "first event times", "last event id", "last event times"]
    data = [[first_event_id, first_event_time, last_event_id, last_event_time]]
    
    return pd.DataFrame(data=data,columns=labels)

def convertToSeconds(row):
    return row.seconds

aggregated_data = corrected_grouped_events.apply(aggregate_data)

aggregated_data['seconds worked'] =  (aggregated_data['last event times'] - aggregated_data['first event times']).apply(convertToSeconds)

aggregated_data.head()